@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");
.titulo .productos .nuestros-productos .producto div button, header nav .navegadorp div ul .nav-item a, header nav ul .navli a, .nempresa .nempresa2 img, .nempresa .nempresa1 img {
  border: 2px solid rgb(47, 200, 238);
  border-radius: 30px;
}

.nempresa .nempresa2 img, .nempresa .nempresa1 img {
  height: 400px;
  width: 600px;
  padding: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body span {
  font-weight: bold;
  font-size: 16px;
}

.activo {
  background-color: rgba(0, 172, 181, 0.2392156863);
  border-radius: 30px;
}

main p {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #fff;
}

main h2 {
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
  letter-spacing: 1px;
  line-height: 50px;
  color: #fff;
  text-shadow: 5px 3px 0px rgb(0, 0, 0);
  margin: 0;
}

main h3 {
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #fff;
  text-shadow: 5px 3px 0px rgb(0, 0, 0);
}

footer h2 {
  width: 100%;
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 30px;
  color: #fff;
  text-align: center;
}

footer p {
  color: #fff;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
}

/* BOOSTRAP */
/*INDEX*/
.owl-theme .owl-dots, .owl-theme .owl-nav {
  line-height: 16px;
}

.owl-theme .owl-dots, .owl-theme .owl-nav span {
  color: #fff;
  font-size: 32px;
}

.w-100 {
  height: 400px;
  padding: 20px;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-inner {
  width: 50%;
}

.carousel-control-next, .carousel-control-prev {
  width: 45%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: drop-shadow(0px 0px 3px #fff);
}

/*PREGUNTAS FRECUENTES*/
.accordion {
  --bs-accordion-bg: rgba(0, 172, 181, 0.2392156863);
  --bs-accordion-border-color: rgb(47, 200, 238);
  padding: 10px 20px 10px 20px;
  width: 100%;
}

.accordion-button:not(.collapsed) {
  background-color: rgba(0, 172, 181, 0.2392156863);
  color: #fff;
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 26px;
}

.accordion-button {
  color: #fff;
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 26px;
}

.accordion-body {
  color: #fff;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 19px;
}

.accordion-button::after {
  background-color: #fff;
}

.accordion-button:focus {
  box-shadow: none;
  outline: none;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-direction: column;
  overflow: hidden;
}
header p {
  color: #fff;
  padding: 10px 0;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
  text-align: right;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 3px;
  text-shadow: 5px 3px 0px rgb(0, 0, 0);
  margin: 0 20px 0 0;
}
header h1 {
  line-height: 30px;
  text-align: center;
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 32px;
  color: rgb(47, 200, 238);
  margin: 5px 0;
  text-shadow: 5px 3px 0px rgb(0, 0, 0);
}
header > a {
  margin-right: 30px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
}
header > a img {
  height: 30px;
  width: 30px;
  position: absolute;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: column;
}
header nav .logoh {
  height: 150px;
}
header nav .logoh img {
  height: 150px;
  width: 100px;
  margin-bottom: 5px;
  filter: drop-shadow(0px 0px 3px #fff);
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-direction: row;
  width: 100%;
  padding: 0 20px;
  margin: 0px;
}
header nav ul .navli {
  text-align: center;
  list-style: none;
  font-family: "PT Serif", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 25px;
  letter-spacing: 4px;
  line-height: 40px;
  color: #fff;
  margin: 5px;
  width: 100%;
  white-space: nowrap;
}
header nav ul .navli a {
  display: block;
  text-decoration: none;
  color: #fff;
  width: 100%;
  padding: 10px;
  height: max-content;
  text-shadow: 5px 3px 0px rgb(0, 0, 0);
  transition: color, 0.3s;
}
header nav ul .navli a:hover {
  background-color: rgba(0, 172, 181, 0.2392156863);
}
header nav ul .navli a:focus {
  color: rgb(47, 200, 238);
}
header nav .navegadorp {
  display: none;
  color: #fff;
  width: 100%;
  justify-content: start;
  padding: 0 10px;
  margin: 5px 0;
}
header nav .navegadorp > a {
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
  letter-spacing: 1px;
  line-height: 35px;
  color: #fff;
  text-shadow: 5px 3px 0px rgb(0, 0, 0);
  padding: 0 5px;
}
header nav .navegadorp button {
  display: flex;
  justify-content: start;
  align-items: normal;
  flex-direction: column;
  width: max-content;
}
header nav .navegadorp button span {
  width: max-content;
}
header nav .navegadorp button span img {
  width: max-content;
}
header nav .navegadorp button img {
  width: 40px;
  height: 40px;
  margin: 0 10px 0 10px;
  filter: drop-shadow(0px 0px 3px rgb(47, 200, 238));
}
header nav .navegadorp div ul {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 0px;
}
header nav .navegadorp div ul .nav-item {
  width: 100%;
}
header nav .navegadorp div ul .nav-item a {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  padding: 4px 0px;
  margin-bottom: 4px;
  transition: color, 0.3s;
}
header nav .navegadorp div ul .nav-item a:hover {
  background-color: rgba(0, 172, 181, 0.2392156863);
  border-radius: 30px;
}
header nav .navegadorp div ul .nav-item a:focus {
  color: rgb(47, 200, 238);
}

.hero {
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-direction: row;
}
.hero img {
  width: 50%;
  filter: drop-shadow(0px 0px 3px rgb(47, 200, 238));
  margin: 0 20px;
}
.hero div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero div h2 {
  margin: 20px;
  text-align: center;
  white-space: nowrap;
}
.hero div p {
  text-align: justify;
  margin: 0 20px 0 20px;
  padding: 5px;
}

.nempresa {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nempresa .nempresa1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  overflow: hidden;
}
.nempresa .nempresa1 img {
  margin: 10px 20px;
}
.nempresa .nempresa1 div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
.nempresa .nempresa1 div h2 {
  padding: 10px;
  margin: 0 20px 0 20px;
  text-align: center;
}
.nempresa .nempresa1 div p {
  padding: 5px;
  margin: 0 20px;
  text-align: justify;
}
.nempresa .nempresa2 {
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-direction: row;
  overflow: hidden;
}
.nempresa .nempresa2 img {
  margin: 10px 20px;
}
.nempresa .nempresa2 div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
.nempresa .nempresa2 div h2 {
  padding: 10px;
  text-align: center;
  margin: 0 20px;
}
.nempresa .nempresa2 div p {
  text-align: justify;
  padding: 5px;
  margin: 0 20px;
}

.confian {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: column;
}
.confian h2 {
  line-height: 25px;
}
.confian div {
  overflow: hidden;
}
.confian div .tarjeta {
  background: linear-gradient(to top, transparent, rgb(47, 200, 238));
  border-radius: 30px;
  border-bottom: 6px solid rgb(47, 200, 238);
  margin-top: 20px;
  margin-bottom: 10px;
}
.confian div .tarjeta:hover {
  transform: scale(1.05);
}
.confian div .tarjeta img {
  width: 100%;
  height: 300px;
}
.confian div .tarjeta h3 {
  width: 100%;
  text-align: center;
}

.titulo {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: column;
}
.titulo .productos {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row-reverse;
  width: 100%;
}
.titulo .productos .nuestros-productos {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
.titulo .productos .nuestros-productos .producto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 10%;
  width: 70%;
  margin: 20px;
  border: 3px solid rgb(47, 200, 238);
  background: rgba(0, 0, 0, 0.5);
  transition: transform, 0.5s;
}
.titulo .productos .nuestros-productos .producto:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px #fff;
}
.titulo .productos .nuestros-productos .producto img {
  height: 200px;
  width: 300px;
}
.titulo .productos .nuestros-productos .producto div {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: column;
  width: 70%;
}
.titulo .productos .nuestros-productos .producto div h3 {
  line-height: 40px;
  text-align: center;
  margin: 15px;
  font-size: 50px;
  letter-spacing: 2px;
}
.titulo .productos .nuestros-productos .producto div button {
  text-decoration: none;
  text-align: center;
  margin: 20px;
  font-family: "PT Serif", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 4px;
  line-height: 50px;
  color: #fff;
  text-shadow: 5px 3px 0px rgb(0, 0, 0);
  width: 50%;
  background-color: transparent;
  transition: color, 0.3s;
}
.titulo .productos .nuestros-productos .producto div button:hover {
  background-color: rgba(0, 172, 181, 0.2392156863);
}
.titulo .productos .nuestros-productos .producto div button:focus {
  color: rgb(47, 200, 238);
}
.titulo .productos .filtrar {
  display: flex;
  justify-content: normal;
  align-items: start;
  flex-direction: column;
  border: 2px dashed rgb(47, 200, 238);
  width: 500px;
  margin: 20px 20px 0 40px;
  padding-left: 5px;
  background: rgba(0, 0, 0, 0.5);
}
.titulo .productos .filtrar h2 {
  text-align: center;
  width: 100%;
  text-decoration: underline;
}
.titulo .productos .filtrar ul {
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-direction: column;
  color: #fff;
}
.titulo .productos .filtrar ul li {
  line-height: 20px;
  margin: 20px;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: #fff;
  text-shadow: 5px 3px 0px rgb(0, 0, 0);
}

.novedades {
  display: grid;
  justify-content: center;
  grid-template-columns: 500px 500px;
  grid-template-rows: 50px 300px 300px 300px 300px;
  grid-template-areas: "novedades novedades" "capacitaciones maquinaria" "incorporaciones incorporaciones" "incorporaciones incorporaciones" "certificado certificado";
  margin: 5px 20px 20px 20px;
  gap: 20px;
  overflow: hidden;
}
.novedades h2 {
  grid-area: novedades;
  text-align: center;
}
.novedades a {
  border: 1px solid rgb(47, 200, 238);
  position: relative;
}
.novedades a h3 {
  position: absolute;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
  width: 100%;
}
.novedades a img {
  width: 100%;
  height: 100%;
}
.novedades .capacitaciones {
  grid-area: capacitaciones;
}
.novedades .maquinaria {
  grid-area: maquinaria;
}
.novedades .incorporaciones {
  grid-area: incorporaciones;
}
.novedades .certificado {
  grid-area: certificado;
  width: 500px;
  display: block;
  justify-self: center;
}

.preguntas-frecuentes {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.contactos {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.contactos .formulario-y-comunicacion {
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-direction: row;
  width: 100%;
}
.contactos .formulario-y-comunicacion .formulario {
  display: flex;
  justify-content: normal;
  align-items: start;
  flex-direction: column;
  margin: 10px 5px 10px 20px;
  width: 50%;
  border: 10px solid rgb(47, 200, 238);
  background-color: rgba(0, 172, 181, 0.2392156863);
}
.contactos .formulario-y-comunicacion .formulario h3 {
  text-align: center;
  width: 100%;
  margin: 5px;
  font-size: 30px;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 5px 3px 0px rgb(0, 0, 0);
}
.contactos .formulario-y-comunicacion .formulario .datos {
  padding: 10px;
  width: 100%;
}
.contactos .formulario-y-comunicacion .formulario .datos label {
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 20px;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  text-shadow: 5px 3px 0px rgb(0, 0, 0);
}
.contactos .formulario-y-comunicacion .formulario .datos input {
  width: 200px;
  height: 25px;
}
.contactos .formulario-y-comunicacion .formulario .datos .tipo-de-empresa {
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-direction: row;
}
.contactos .formulario-y-comunicacion .formulario .datos .tipo-de-empresa select {
  height: 25px;
  margin-left: 10px;
}
.contactos .formulario-y-comunicacion .formulario .datos .datos-area {
  display: flex;
  justify-content: normal;
  align-items: end;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}
.contactos .formulario-y-comunicacion .formulario .datos .datos-area textarea {
  width: 100%;
  padding: 5px;
}
.contactos .formulario-y-comunicacion .formulario .datos .datos-area input {
  margin-top: 10px;
  width: 20%;
}
.contactos .formulario-y-comunicacion .comunicacion {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: column;
  width: 50%;
  border: 10px solid rgb(47, 200, 238);
  background-color: rgba(0, 172, 181, 0.2392156863);
  margin: 10px 20px 10px 5px;
}
.contactos .formulario-y-comunicacion .comunicacion h3 {
  text-align: center;
  width: 100%;
  margin: 5px;
  padding: 0 5px;
  font-size: 30px;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 5px 3px 0px rgb(0, 0, 0);
  line-height: 30px;
}
.contactos .formulario-y-comunicacion .comunicacion div {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  margin: 20px;
}
.contactos .formulario-y-comunicacion .comunicacion div p {
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 20px;
  text-align: justify;
  padding: 10px;
  text-shadow: 5px 3px 0px rgb(0, 0, 0);
}
.contactos .formulario-y-comunicacion .comunicacion div p span {
  font-size: 21px;
  letter-spacing: 1px;
  line-height: 21px;
  text-shadow: 5px 3px 0px rgb(0, 0, 0);
}

footer {
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-direction: column;
  background: linear-gradient(to top, rgb(47, 200, 238), transparent);
  overflow: hidden;
}
footer .footerdiv {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  flex-direction: row;
  overflow: hidden;
}
footer .footerdiv .redes {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: column;
  width: 40%;
  margin: 0 0 10px 20px;
  text-shadow: 3px 2px 0px rgb(0, 0, 0);
  background-color: rgba(0, 172, 181, 0.2392156863);
  border: 5px solid rgb(47, 200, 238);
}
footer .footerdiv .redes .redesgrupo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 15px;
}
footer .footerdiv .redes .redesgrupo div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 5px;
}
footer .footerdiv .redes .redesgrupo div a {
  width: 40px;
  height: 40px;
}
footer .footerdiv .redes .redesgrupo div a img {
  height: 40px;
  width: 40px;
  margin: 0 0 0 10px;
  transition: transform 1s;
}
footer .footerdiv .redes .redesgrupo div a img:hover {
  transform: rotateY(360deg);
}
footer .footerdiv .redes .redesgrupo div p {
  margin: 0 0 0 20px;
  font-size: 20px;
  line-height: 30px;
}
footer .footerdiv .logof {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: normal;
}
footer .footerdiv .logof a img {
  height: 150px;
  width: 100px;
}
footer .footerdiv .atencion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 40%;
  background-color: rgba(0, 172, 181, 0.2392156863);
  text-shadow: 3px 2px 0px rgb(0, 0, 0);
  border: 5px solid rgb(47, 200, 238);
  margin: 0 20px 10px 0;
}
footer .footerdiv .atencion p {
  margin: 0 0 16px 0;
  font-size: 16px;
  line-height: 16px;
}
footer iframe {
  width: 100%;
  height: 70%;
  padding: 0 20px;
}

@media screen and (max-width: 1430px) {
  .confian div .tarjeta img {
    height: 250px;
  }
}
@media screen and (max-width: 1265px) {
  .hero img {
    width: 50%;
  }
  .hero div h2 {
    margin: 20px 20px 20px 20px;
    text-align: center;
    white-space: wrap;
  }
  main p {
    letter-spacing: 0.7px;
    line-height: 20px;
  }
  main h2 {
    letter-spacing: 0.7px;
    line-height: 40px;
  }
  main h3 {
    letter-spacing: 0.7px;
  }
  .nempresa .nempresa1 img {
    width: 50%;
  }
  .nempresa .nempresa2 img {
    width: 50%;
  }
  .titulo .productos .filtrar ul {
    padding: 5px;
  }
  .titulo .productos .nuestros-productos .producto {
    width: 80%;
  }
  .titulo .productos .nuestros-productos .producto div button {
    padding: 0px;
    margin: 5px;
    width: 250px;
  }
  .contactos .formulario-y-comunicacion .comunicacion p {
    font-size: 16px;
  }
  .contactos .formulario-y-comunicacion .comunicacion div {
    margin: 5px;
  }
}
@media screen and (max-width: 1094px) {
  .confian div .tarjeta img {
    height: 200px;
  }
  .confian div .tarjeta h3 {
    font-size: 28px;
  }
  .titulo .productos .nuestros-productos .producto div h3 {
    font-size: 35px;
    margin: 0 0 10px 0;
  }
  .titulo .productos .nuestros-productos .producto div button {
    width: 200px;
    font-size: 25px;
  }
  .novedades {
    grid-template-columns: 400px 400px;
    grid-template-rows: 40px 250px 250px 250px 250px;
  }
  .novedades .certificado {
    width: 400px;
  }
  .contactos .formulario-y-comunicacion .formulario .datos label {
    font-size: 16px;
  }
  .contactos .formulario-y-comunicacion .formulario .datos input {
    line-height: 16px;
  }
  .contactos .formulario-y-comunicacion .comunicacion div p span {
    font-size: 18px;
  }
}
@media screen and (max-width: 1030px) {
  footer .footerdiv .redes h2 {
    font-size: 26px;
    letter-spacing: 2px;
    line-height: 25px;
    margin-top: 3px;
  }
  footer .footerdiv .redes p {
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 16px;
  }
  footer .footerdiv .redes .redesgrupo {
    padding: 5px;
  }
  footer .footerdiv .atencion h2 {
    margin: 3px 0 5px 0;
    font-size: 26px;
    letter-spacing: 2px;
    line-height: 25px;
  }
  footer .footerdiv .atencion p {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 16px;
  }
}
@media screen and (max-width: 1000px) {
  header p {
    margin-right: 10px;
    padding: 8px;
    font-size: 14px;
  }
  header nav .logoh img {
    margin-bottom: 10px;
  }
  header nav ul {
    padding: 0 10px;
  }
  header nav ul .navli {
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 20px;
    margin: 3px;
  }
  main p {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 20px;
  }
  main h2 {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 35px;
  }
  main h3 {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 30px;
  }
  .hero div h2 {
    font-size: 29px;
    margin: 0 10px;
  }
  .hero div p {
    margin: 0 10px;
  }
  .hero img {
    margin: 0 10px;
  }
  .nempresa .nempresa1 img {
    margin: 0 10px;
  }
  .nempresa .nempresa1 div h2 {
    font-size: 29px;
    margin: 0 10px;
  }
  .nempresa .nempresa1 div p {
    margin: 0 10px;
  }
  .nempresa .nempresa2 img {
    margin: 5px 10px 0 10px;
  }
  .nempresa .nempresa2 div h2 {
    font-size: 29px;
    margin: 0 10px;
  }
  .nempresa .nempresa2 div p {
    margin: 0 10px;
  }
  .confian h2 {
    margin: 10px 0 0 0;
  }
  .confian div .tarjeta {
    display: flex;
    justify-content: normal;
    align-items: center;
    flex-direction: column;
  }
  .titulo .productos .nuestros-productos .producto {
    width: 90%;
    margin: 20px 20px 10px 20px;
  }
  .titulo .productos .filtrar ul {
    margin-left: 10px;
  }
  .titulo .productos .filtrar ul li {
    margin: 10px;
    font-size: 17px;
  }
  .accordion {
    padding: 10px;
  }
  .contactos .formulario-y-comunicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }
  .contactos .formulario-y-comunicacion .formulario {
    width: 100%;
    margin: 0 10px 5px 10px;
  }
  .contactos .formulario-y-comunicacion .formulario .datos label {
    font-size: 20px;
  }
  .contactos .formulario-y-comunicacion .comunicacion {
    width: 100%;
    margin: 5px 10px 5px 10px;
  }
  .contactos .formulario-y-comunicacion .comunicacion div {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
  }
  footer .footerdiv .atencion {
    margin: 0 10px 10px 0;
  }
  footer .footerdiv .redes {
    margin: 0 0 10px 10px;
  }
  footer iframe {
    padding: 0 10px;
  }
}
@media screen and (max-width: 999px) {
  .confian div .tarjeta img {
    width: 250px;
  }
}
@media screen and (max-width: 910px) {
  main p {
    font-size: 18px;
    letter-spacing: 0.7px;
    line-height: 18px;
  }
  main h2 {
    font-size: 33px;
    letter-spacing: 0.7px;
    line-height: 35px;
  }
  .titulo .productos .filtrar ul {
    padding: 5px;
    margin: 7px;
  }
  .titulo .productos .filtrar ul li {
    margin: 5px;
    font-size: 15px;
  }
}
@media screen and (max-width: 890px) {
  header nav .logoh {
    height: 100px;
  }
  header nav .logoh img {
    height: 100px;
    width: 80px;
    margin-bottom: 10px;
  }
  footer .footerdiv .redes h2 {
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 25px;
  }
  footer .footerdiv .redes p {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 16px;
  }
  footer .footerdiv .atencion h2 {
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 25px;
  }
  footer .footerdiv .atencion p {
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 16px;
  }
  .titulo .productos {
    display: flex;
    justify-content: normal;
    align-items: center;
    flex-direction: column-reverse;
  }
  .titulo .productos .filtrar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 10px 0 0 0;
    padding: 0px;
  }
  .titulo .productos .filtrar ul {
    display: flex;
    justify-content: center;
    align-items: normal;
    flex-direction: row;
  }
  .titulo .productos .filtrar ul li {
    font-size: 15px;
    list-style: none;
  }
  .titulo .productos .nuestros-productos {
    width: 100%;
    margin: 0px;
    padding: 15px 30px 30px 30px;
  }
  .titulo .productos .nuestros-productos .producto {
    width: 97%;
    margin: 0 0 15px 0;
  }
  .novedades {
    grid-template-columns: 0.5fr 0.5fr;
    gap: 10px;
    margin: 0 10px 10px 10px;
  }
}
@media screen and (max-width: 840px) {
  header h1 {
    font-size: 28px;
  }
  .hero img {
    width: 45%;
  }
  .nempresa .nempresa1 {
    display: flex;
    justify-content: normal;
    align-items: center;
    flex-direction: column;
  }
  .nempresa .nempresa1 img {
    order: 1;
    width: 80%;
    margin: 0 5px;
  }
  .nempresa .nempresa1 div {
    width: 100%;
    margin: 5px 0;
  }
  .nempresa .nempresa1 div h2 {
    margin: 0 10px;
  }
  .nempresa .nempresa1 div p {
    margin: 0 10px;
  }
  .nempresa .nempresa2 {
    display: flex;
    justify-content: normal;
    align-items: center;
    flex-direction: column;
  }
  .nempresa .nempresa2 img {
    order: 1;
    width: 80%;
    margin: 0 5px;
  }
  .nempresa .nempresa2 div {
    width: 100%;
  }
  .confian div .tarjeta img {
    width: 200px;
  }
  .titulo .productos .filtrar ul li {
    font-size: 14px;
  }
  footer .footerdiv .logof {
    display: none;
  }
  footer .footerdiv .redes {
    width: 50%;
    margin: 0 5px 10px 10px;
  }
  footer .footerdiv .atencion {
    width: 50%;
    margin: 0 10px 10px 5px;
  }
}
@media screen and (max-width: 793px) {
  .titulo .productos .filtrar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: start;
    justify-items: start;
  }
  .titulo .productos .filtrar h2 {
    grid-column: 1/2;
    margin: 7px;
    padding: 5px;
  }
  .titulo .productos .filtrar ul {
    width: 100%;
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }
  .contactos .formulario-y-comunicacion .formulario h3 {
    letter-spacing: 1px;
  }
  .contactos .formulario-y-comunicacion .comunicacion h3 {
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 715px) {
  header h1 {
    font-size: 24px;
    line-height: 25px;
    margin: 0 0 5px 0;
  }
  header p span {
    display: none;
  }
  header nav .logoh {
    height: 80px;
  }
  header nav .logoh img {
    height: 80px;
    width: 60px;
    margin: 5px;
  }
  header nav ul {
    margin-top: 5px;
  }
  header nav ul li a {
    font-size: 15px;
  }
  .hero {
    display: flex;
    justify-content: normal;
    align-items: center;
    flex-direction: column;
  }
  .hero img {
    width: 80%;
    order: 1;
  }
  .hero div {
    width: 100%;
  }
  .confian h2 {
    padding: 0;
  }
  .titulo .productos .nuestros-productos .producto div h3 {
    font-size: 30px;
    line-height: 35px;
  }
  .contactos .formulario-y-comunicacion {
    padding: 10px 10px 0px 10px;
  }
  footer .footerdiv {
    display: flex;
    justify-content: normal;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
  }
  footer .footerdiv .redes {
    width: 100%;
    margin: 5px;
    height: 200px;
    padding: 5px;
  }
  footer .footerdiv .redes h2 {
    margin: 5px;
  }
  footer .footerdiv .redes .redesgrupo {
    padding: 0;
  }
  footer .footerdiv .atencion {
    width: 100%;
    height: 200px;
    margin: 5px;
    padding: 5px;
  }
}
@media screen and (max-width: 660px) {
  .novedades {
    grid-template-columns: 0.9fr;
    grid-template-rows: 30px 300px 300px 300px 300px;
    grid-template-areas: "novedades" "capacitaciones" "maquinaria" "incorporaciones" "certificado";
  }
  .novedades .certificado {
    width: 100%;
  }
}
@media screen and (max-width: 590px) {
  header nav ul li a {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 15px;
  }
  .novedades {
    grid-template-columns: 1fr;
    grid-template-rows: 30px 275px 275px 275px 275px;
  }
  .titulo .productos .nuestros-productos {
    padding: 15px 20px 20px 20px;
  }
}
@media screen and (max-width: 516px) {
  .titulo .productos .filtrar ul {
    grid-template-columns: 1.8fr 1fr;
  }
}
@media screen and (max-width: 490px) {
  header p {
    display: none;
  }
  header > a {
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: normal;
  }
  header > a img {
    margin: 15px 5px 0 0;
  }
  header nav ul .navli {
    display: none;
  }
  header nav .navegadorp {
    display: flex;
  }
  header nav {
    padding: 0;
  }
  .nempresa .nempresa1 img {
    height: 250px;
  }
  .nempresa .nempresa2 img {
    height: 250px;
  }
  .titulo .productos .nuestros-productos .producto div button {
    width: 90%;
    font-size: 20px;
  }
  .confian h2 {
    font-size: 29px;
  }
  .titulo .productos .filtrar {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    padding: 0;
  }
  .titulo .productos .filtrar h2 {
    width: 70%;
    font-size: 28px;
    margin: 0 7px;
    padding: 1px;
  }
  .titulo .productos .filtrar ul {
    display: flex;
    justify-content: normal;
    align-items: start;
    flex-direction: column;
    width: 100%;
    padding: 1px;
  }
  .titulo .productos .filtrar ul li {
    margin: 5px;
  }
  .titulo .productos .nuestros-productos .producto img {
    width: 175px;
    height: 175px;
  }
  .novedades a h3 {
    font-size: 22px;
  }
  .contactos .formulario-y-comunicacion .formulario .datos {
    padding: 10px 0px;
  }
  .contactos .formulario-y-comunicacion .formulario .datos input {
    width: 130px;
  }
  .contactos .formulario-y-comunicacion .formulario .datos label {
    font-size: 18px;
    margin-left: 5px;
  }
  .contactos .formulario-y-comunicacion .formulario h3 {
    font-size: 22px;
  }
  .contactos .formulario-y-comunicacion .comunicacion h3 {
    font-size: 22px;
  }
  .contactos .formulario-y-comunicacion .comunicacion div p span {
    font-size: 16px;
  }
  .contactos .formulario-y-comunicacion .comunicacion div p {
    font-size: 14px;
    padding: 0 0 0 5px;
  }
  .contactos .formulario-y-comunicacion .comunicacion div {
    margin: 5px;
    padding: 0 5px 0 0;
  }
}
@media screen and (max-width: 407px) {
  .titulo .productos .nuestros-productos .producto img {
    width: 125px;
    height: 125px;
  }
  .titulo .productos .nuestros-productos .producto div button {
    width: 60%;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 401px) {
  .confian h2 {
    margin: 0 20px;
    text-align: center;
  }
  .contactos .formulario-y-comunicacion .comunicacion div p span {
    font-size: 15px;
  }
  .contactos .formulario-y-comunicacion .comunicacion div p {
    font-size: 13px;
  }
}
@media screen and (max-width: 380px) {
  .nempresa .nempresa1 img {
    width: 90%;
  }
  .nempresa .nempresa2 img {
    width: 90%;
  }
  .titulo .productos .nuestros-productos {
    margin: 0px;
  }
  .titulo .productos .nuestros-productos .producto div h3 {
    font-size: 23px;
  }
  .titulo .productos .filtrar h2 {
    font-size: 23px;
  }
  .titulo .productos .filtrar ul li {
    margin: 2px 5px;
  }
  .titulo .productos .filtrar ul li label {
    font-size: 11px;
  }
  .contactos .formulario-y-comunicacion .comunicacion {
    display: none;
  }
  .contactos .formulario-y-comunicacion .formulario .datos label {
    letter-spacing: 0.5px;
    font-size: 15px;
  }
  .novedades {
    grid-template-columns: 1fr;
    grid-template-rows: 30px 215px 215px 215px 215px;
  }
  footer .footerdiv .redes h2 {
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 25px;
  }
  footer .footerdiv .redes .redesgrupo div p {
    font-size: 15px;
    letter-spacing: 0.7px;
    line-height: 16px;
  }
  footer .footerdiv .redes .redesgrupo div a {
    width: 30px;
    height: 30px;
  }
  footer .footerdiv .redes .redesgrupo div a img {
    width: 30px;
    height: 30px;
  }
  footer .footerdiv .atencion h2 {
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 25px;
  }
  footer .footerdiv .atencion p {
    font-size: 0.9em;
    letter-spacing: 0px;
    line-height: 16px;
    white-space: nowrap;
  }
  .atencion p span {
    font-size: 14px;
  }
}

/*# sourceMappingURL=estilos.css.map */
