footer {
    display: flex;
    flex-direction: column;

    .footerdiv {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .redes {
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 0 10px 20px;
            text-shadow: 3px 2px 0px rgba(0, 0, 0, 1);
            background-color: #00acb53d;
            border: 5px solid #00ADB5;

            .redesgrupo {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 15px;

                div {
                    width: 100%;
                    flex-direction: row;
                    justify-content: center;
                    margin: 5px;
                    display: flex;
                    align-items: center;

                    a {
                        width: 40px;
                        height: 40px;

                        img {
                            height: 40px;
                            width: 40px;
                            margin: 0 0 0 10px;
                        }
                    }
                    p{
                        margin: 0 0 0 20px;
                        font-size: 20px;
                        line-height: 30px;
                    }
                }
            }
        }

    .logof {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            img {
                height: 150px;
                width: 100px;
            }
        }
    }
    .atencion{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #00acb53d;
        text-shadow: 3px 2px 0px rgba(0,0,0,1);
        border: 5px solid #00ADB5;
        margin: 0 20px 10px 0;
        p{
            margin: 0 0 16px 0;
            font-size: 16px;
            line-height: 16px;
        }
    }
}
    iframe{
        width: 100%;
        padding: 0 20px;
    }
}