header{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    p{
        color: #fff;
        padding: 10px 0;
        font-family: "PT Serif", serif;
        font-weight: 400;
        font-style: italic;
        text-align: right;
        font-size: 15px;
        letter-spacing: 2px;
        line-height: 3px;
        text-shadow: 5px 3px 0px rgba(0,0,0,1);
        margin: 0 20px 0 0;
    }
    h1{
        line-height: 30px;
        text-align: center;
        font-family: "Playwrite GB S", cursive;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-size: 32px;
        color: #00ADB5;
        margin: 5px;
        text-shadow: 5px 3px 0px rgba(0,0,0,1);
    }
    >a{
        display: flex;
        justify-content: end;
        margin-right: 30px;
        align-items: center;
        img{
            height: 30px;
            width: 30px;
            position: absolute;
        }
    }
    nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .logoh{
            height: 150px;
            img{
                height: 150px;
                width: 100px;
                margin-bottom: 5px;
                filter: drop-shadow(0px 0px 3px #00ADB5);
            }
        }
        ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            padding: 0 20px;
            margin: 0px;
            .navli{
                text-align: center;
                list-style: none;
                font-family: "PT Serif", serif;
                font-weight: 900;
                font-style: normal;
                font-size: 25px;
                letter-spacing: 4px;
                line-height: 40px;
                color: #fff;
                margin: 5px;
                width: 100%;
                white-space: nowrap;
                a{
                    display: block;
                    text-decoration: none;
                    color: #fff;
                    width: 100%;
                    border: 2px solid #00ADB5;
                    border-radius: 30px;
                    padding: 10px;
                    height: max-content;
                    text-shadow: 5px 3px 0px rgba(0,0,0,1);
                    &:hover{
                        background-color: #00acb53d;
                    }
                    &:focus{
                        color: #00ADB5;
                    }
                }
            }
        }
        .navegadorp{
            display: none;
            div{
                ul{
                    padding: 0;
                    .nav-item{
                        a{
                            border: 2px solid #00ADB5;
                            border-radius: 30px;
                            margin-bottom: 3px;
                            padding: 5px;
                            &:hover{
                                background-color: #00acb53d;
                                border-radius: 30px;
                            }
                            &:focus{
                                color: #00ADB5;
                            }
                        }
                    }
                }
            }
        }
    }
}