header{
    width: 100%;
    @include flex (flex, center, normal, column);
    overflow: hidden;
    p{
        color: nth($colores, 1);
        padding: 10px 0;
        font-family: "PT Serif", serif;
        font-weight: 400;
        font-style: italic;
        text-align: right;
        font-size: 15px;
        letter-spacing: 2px;
        line-height: 3px;
        text-shadow: 5px 3px 0px rgba(0,0,0,1);
        margin: 0 20px 0 0;
    }
    h1{
        line-height: 30px;
        text-align: center;
        font-family: "Playwrite GB S", cursive;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-size: 32px;
        color: nth($colores, 2);
        margin: 5px 0;
        text-shadow: 5px 3px 0px rgba(0,0,0,1);
    }
    >a{
        margin-right: 30px;
        @include flex (flex, end, center,row);
        img{
            height: 30px;
            width: 30px;
            position: absolute;
        }
    }
    nav{
        width: 100%;
        @include flex (flex, normal, center, column);
        .logoh{
            height: 150px;
            img{
                height: 150px;
                width: 100px;
                margin-bottom: 5px;
                filter: drop-shadow(0px 0px 3px nth($colores, 1));
            }
        }
        ul{
            @include flex(flex, center, normal, row);
            width: 100%;
            padding: 0 20px;
            margin: 0px;
            .navli{
                text-align: center;
                list-style: none;
                font-family: "PT Serif", serif;
                font-weight: 900;
                font-style: normal;
                font-size: 25px;
                letter-spacing: 4px;
                line-height: 40px;
                color: nth($colores , 1 );
                margin: 5px;
                width: 100%;
                white-space: nowrap;
                a{
                    display: block;
                    text-decoration: none;
                    color: nth($colores , 1 );
                    width: 100%;
                    @extend %bordes;
                    padding: 10px;
                    height: max-content;
                    text-shadow: 5px 3px 0px rgba(0,0,0,1);
                    transition: color, 0.3s;
                    &:hover{
                        background-color: nth($colores , 3);
                    }
                    &:focus{
                        color: nth($colores , 2);
                    }
                }
            }
        }
        .navegadorp{
            display: none;
            color: nth($colores, 1);
            width: 100%;
            justify-content: start;
            padding: 0 10px;
            margin: 5px 0;
            button{
                @include flex(flex, start, normal, column);
                width: max-content;
                span{
                    width: max-content;
                    height: max-content;
                    img{
                        width: max-content;
                }
            }
                img{
                    width: 40px;
                    height: 40px;
                    margin: 0 10px 0 10px;
                    filter: drop-shadow(0px 0px 3px nth($colores, 2));
                }
            }
            div{
                ul{
                    @include flex(flex,center,start, column);
                    padding: 0px;
                    .nav-item{
                        width: 100%;
                        a{
                            font-family: "PT Serif", serif;
                            font-weight: 400;
                            font-style: normal;
                            letter-spacing: 2px;
                            color: nth($colores, 1);
                            text-align: center;
                            padding: 4px 0px;
                            @extend %bordes;
                            margin-bottom: 4px;
                            transition: color, 0.3s;
                            &:hover{
                                background-color: nth($colores, 3);
                                border-radius: 30px;
                            }
                            &:focus{
                                color: nth($colores, 2);
                            }
                        }
                    }
                }
            }
        }
    }
}