.novedades {
    display: grid;
    justify-content: center;
    grid-template-columns: 500px 500px;
    grid-template-rows: 50px 300px 300px 300px 300px;
    grid-template-areas:
        "novedades novedades"
        "capacitaciones maquinaria"
        "incorporaciones incorporaciones"
        "incorporaciones incorporaciones"
        "certificado .";
    margin: 5px 20px 20px 20px;
    gap: 20px;
    overflow: hidden;

    h2 {
        grid-area: novedades;
        text-align: center;
    }

    a {
        border: 1px solid nth($colores, 2);
        position: relative;

        h3 {
            position: absolute;
            color: nth($colores, 1);
            font-size: 1.5em;
            text-align: center;
            background: nth($colores, 4);
            padding: 10px;
            text-align: center;
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .capacitaciones {
        grid-area: capacitaciones;
    }

    .maquinaria {
        grid-area: maquinaria;
    }

    .incorporaciones {
        grid-area: incorporaciones;
    }

    .certificado {
        grid-area: certificado;
    }
}