.titulo{
    @include flex(flex, normal, center, column);
    .productos{
        @include flex(flex, start, start, row-reverse);
        width: 100%;
        .nuestros-productos{
            @include flex (flex, normal, center, column);
            width: 100%;
            margin: 20px;
            overflow: hidden;
            .producto{
                @include flex (flex, center, center, row);
                height: 10%;
                width: 70%;
                margin-bottom: 20px;
                border: 3px solid nth($colores, 2);
                background: nth($colores, 4);
                transition: transform, 0.5s;
                &:hover{
                    transform: scale(1.05);
                    box-shadow: 0px 0px 10px #fff;
                }
                img{
                    height: 200px;
                    width: 300px;
                }
                div{
                    @include flex (flex, normal, center, column);
                    width: 70%;
                    h3{
                        line-height: 40px;
                        text-align: center;
                        margin: 15px;
                        font-size: 50px;
                        letter-spacing: 2px;
                    }
                    button{
                        text-decoration: none;
                        @extend %bordes;
                        text-align: center;
                        margin: 20px;
                        font-family: "PT Serif", serif;
                        font-weight: 900;
                        font-style: normal;
                        font-size: 30px;
                        letter-spacing: 4px;
                        line-height: 50px;
                        color: nth($colores, 1);
                        text-shadow: 5px 3px 0px rgba(0,0,0,1);
                        width: 50%;
                        background-color: transparent;
                        transition: color, 0.3s;
                        &:hover{
                            background-color: nth($colores, 3);
                        }
                        &:focus{
                            color: nth($colores, 2);
                        }
                    }
                }
            }
        }
        .filtrar{
            @include flex (flex, normal, start, column);
            border: 2px dashed nth($colores, 2);
            width: 500px;
            margin: 20px 20px 0 40px;
            padding-left: 5px;
            background: nth($colores, 4);
            h2{
                text-align: center;
                width: 100%;
                text-decoration:underline;
            }
            ul{
                @include flex (flex, normal, normal, column);
                color: nth($colores, 1);
                li{
                    line-height: 20px;
                    margin: 20px;
                    font-size: 20px;
                    letter-spacing: 0.5px;
                    color: nth($colores, 1);
                    text-shadow: 5px 3px 0px rgba(0,0,0,1);
                }
            }
        }
    }
}