$font-body: 20px;

$colores: #fff, rgb(47, 200, 238), rgba(0, 172, 181, 0.2392156863), rgba(0, 0, 0, 0.5);

%bordes{
    border: 2px solid nth($colores, 2 );
    border-radius: 30px;
}

%nempresa-img{
    height: 400px;
    width: 600px;
    @extend %bordes;
    padding: 15px;
}

@mixin flex ($flex, $justify, $align,$direction){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
